@import "base.css";
@import "design-system.css";

@layer reset {
    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }
}

@layer design {
    :root {
        --color-slate-900: #1f314f;
        --color-slate-500: #68778d;
        --color-slate-300: #d5e1ef;
        --color-blue-600: #2c7dfa;
        --color-blue-500: #3685ff;
        --color-white: #ffffff;
        --spacing-500: 40px;
        --spacing-300: 24px;
        --spacing-200: 16px;
        --font-size-text-preset-1: 22px;
        --font-size-text-preset-2: 15px;
    }
}

@layer page {
    html,
    body {
        width: 100%;
        height: 100%;
    }

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        align-items: center;
        justify-items: center;
        background-color: var(--color-slate-300);
        font-family: Outfit, sans-serif;
    }

    main {
        grid-area: 1 / 1 / 2 / 2;
        width: 320px;
        padding: 16px;
        border-radius: 20px;
        background-color: var(--color-white);
        filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.0477));
    }

    main img {
        width: 100%;
        border-radius: 10px;
    }

    h1 {
        margin: 24px 16px 16px 16px;
        color: var(--color-slate-900);
        font-weight: bold;
        font-size: 22px;
        line-height: 1.2;
        letter-spacing: 0;
        text-align: center;
    }

    p {
        margin: 16px;
        color: var(--color-slate-500);
        font-size: 15px;
        line-height: 1.4;
        letter-spacing: 0.2px;
        text-align: center;
    }
}
